
.img {
    width: 600px;
}
.img2 {
    width: 400px;
}
@media(max-width: 900px) {
    .img {
        width: 250px;
        display: flex;
    }
    .img2 {
        width: 200px;
        display: flex;
}
}
